/* Page-Wide */
body {
  background-color: rgb(173, 216, 230);
  color: darkblue;
  padding: 8px;

}


/* Paragraph Content */
.text {
  background-color: #00008B;
  color: rgb(173, 216, 230);
  padding: 8px;
}
p::first-letter {
   font-family: "Playwrite NZ", cursive;
   font-size: 2em;
   font-weight: 500; 
   color:rgb(173, 216, 230)
}


/* "Read More!" Link */

a {
  background-color: rgb(75,83,32);
  color: #FFFFFF;
  padding: 4px;
}